/* Main wrapper for page */
.friends-page-wrapper{
    display: grid;
    grid-template-columns: 1fr 1.25fr;
}

/* Wrapper for a column */
.friends-page-wrapper .column{
    display: flex;
    flex-direction: column;
    border: dotted black 1px;
    border-bottom: none;
    border-left: none;
    height: 100vh;
}

/* Search bar inside a column */
.column .search-bar{
    border-bottom: dotted black 1px;
    display: flex;
    align-items: center;
    padding: 20px 10px 20px 10px;
    gap: 10px;
}

/* Searchbar input */
.column .search-bar input{
    width: 100%;
    padding: 5px;
    border-radius: 6px;
    border: solid black 1px;
}

/* searchbar buttons */
.column .search-bar img{
    transition: background-color 0.1s ease-in;
    border-radius: 12px;
    padding: 5px;
}
.column .search-bar img:hover{
    cursor: pointer;
    background-color: rgb(195, 195, 195);
}
.column .search-bar button{
    margin: 8.25px 0 8.25px 0;
}
.column .search-bar button:hover{
    cursor: pointer;
}

/* Column title */
.column .column-title{
    padding: 0 10px 0 10px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: dotted black 1px;
}

/* Mode options */
.column-title .mode-options{
    display: flex;
    gap: 10px;
}
.mode-options .option{
    color: gray;
    padding: 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.mode-options .option:hover{
    cursor: pointer;
}
.mode-options .option.active{
    color: black;
    background-color: rgb(216, 216, 216);

}
.mode-options .option .count{
    width: fit-content;
    padding: 0 5px 0 5px;
    border-radius: 50%;
    color: white;
    background-color: red;
}

/* List */
.list{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
}

/* Item list */
.friends-page-wrapper .list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid black 1px;
    padding: 0 20px 0 20px;
    transition: background-color 0.1s ease-in;
}
.friends-page-wrapper .list-item:hover{
    cursor: pointer;
    background-color: rgb(219, 218, 218);
}

/* User info */
.user-info p{
    color: gray;
    margin-top: -20px;
}

/* User actions */
.user-actions{
    display: flex;
    align-items: center;
    gap: 5px;
}
.user-actions img{
    border-radius: 50%;
    padding: 5px;
    transition: background-color 0.1s ease-in;
}
.user-actions img:hover{
    cursor: pointer;
    background-color: rgb(195, 195, 195);
}

/* Add friend button */
.user-actions .add-friend-btn{
    color: white;
    background-color: green;
    border-radius: 12px;
    padding: 5px;
    transition: background-color 0.1s ease-in;
}
.user-actions .add-friend-btn:hover{
    cursor: pointer;
    background-color: rgb(2, 190, 2);
}

/* Decline friend button */
.user-actions .decline-friend-btn{
    color: white;
    background-color: rgb(148, 0, 0);
    border-radius: 12px;
    padding: 5px;
    transition: background-color 0.1s ease-in;
}
.user-actions .decline-friend-btn:hover{
    cursor: pointer;
    background-color: red;
}

/* Sub-menu */
.sub-menu{
    position: fixed;
    border: solid black 1px;
    padding: 10px;
    border-radius: 8px;
    z-index: 1000;
    background-color: white;
}

.sub-menu p{
    border-radius: 4px;
    padding: 0 5px 0 5px;
    margin: 2px 0 2px 0;
    transition: background-color 0.1s ease-in;
}
.sub-menu p:hover{
    cursor: pointer;
    background-color: rgb(195, 195, 195);
}

.submenu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 999;
}

/* Elements to push slightly to the right using margin-left */
.margin-left, .fetch-error {
    margin-left: 10px;
}